.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dashboard{
  display: grid;
  grid-template-columns: auto auto;
}
.sidemenu{
  width: 20vw;
  height: 160vh;
  background-color: #1e1e20;
}
.displaypanel{
  width: 80vw;
  height: 160vh;
  background-color: #161616;
}
.logo{
  width: 30%;
  margin: 20% 35% 0 35%;
}
nav ul{
  list-style: none;
}
nav ul li{
  color: white;
  margin: 20% 0 10% 10%;
  font-size: 1.5em;
  cursor: pointer;
  padding: 1vh;
  width: 14vw;
  border-radius: 0.5vw;
}
nav ul li:hover{
  background-color: #383A3E;
  transition: all 0.2s ease-in-out;
}
.viewstate{
  color: #fff;
}
.switchbutton{
  justify-content: space-between;
  margin: 12vh 20vw 0 20vw;
  width: 40vw;
  display: grid;
  grid-template-columns: auto auto;
}
.xgboostBtn,.kerasBtn{
  width: 15vw;
  font-size: 1.6em;
  cursor: pointer;
  font-weight: 500;
  border-radius: 1.5vw;
  padding: 2vh 1vw 2vh 1vw;
  text-align: center;
  background: linear-gradient(to right, #DA2E1E, #FBA11E);
}
.xgboost,.keras{
  margin: 3vw 0 0 0;
  height: fit-content;
}
.information{
  width: fit-content;
  margin: 0 0 0 5vw;
  font-size: 1.5em;
}
.formbox{
  height: fit-content;
  padding: 2vw;
  margin: 3vh 10vw 0 10vw;
  border-radius: 1.5vw;
  background-color: #1e1e20;
  width: 60vw;
}
.formbox input{
  width: 40vw;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid;
  margin: 0 10vw 0 10vw;
  color: white;
  background-color: rgba(255,255,255,0);
}
.formbox input:focus{
  outline: none;
}
.formbox label{
  width: 40vw;
  font-size: 1.2em;
  font-weight: bold;
  margin: 2vh 10vw 0 10vw;
  color: white;
  background-color: rgba(255,255,255,0);
}
.inputBoxes{
  width: 40vw;
  font-size: 1.2em;
  border: none;
  border-bottom: 2px solid;
  margin: 0 10vw 0 10vw;
  color: white;
  background-color: rgba(255,255,255,0);
}
.inputBoxes:focus{
 outline: none;
}
select option{
  border: none;
  background: #1e1e20;
}
select option:focus{
 outline: none;
}
.formbox .button{
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1vw;
  text-align: center;
  width: 10vw;
  margin: 1vw 25vw 0 25vw;
  background: linear-gradient(to right, #DA2E1E, #FBA11E);
}
.predictedValue{
  font-size: 2em;
  font-weight: bold;
  margin-top: 2vh;
  margin-left: 10vw;
}
.plots{
  margin: 5vh 2vw 0vw 2vw;
  padding: 2vw;
  border-radius: 1vw;
  width: 75vw;
  background-color: black;
  border: 1 px solid white;
}
.plots p{
  color: white;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}